In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import seaborn as sns 
import missingno as msno
import matplotlib.pyplot as mpl
import plotly.graph_objs as go
import plotly.express as px

In [73]:
test = pd.read_csv('./projeto7_data.csv')
test

,battery_power,px_height,px_width,ram,price_range,C1_pred,C2_prob
0,1843,118,580,3213,2,2,99.997765
1,1424,1399,1663,1053,1,1,0.007206
2,1844,533,882,1724,1,1,1.454190
3,1501,198,1056,2487,2,2,99.778233
4,1976,652,1933,2470,2,2,99.997857
...,...,...,...,...,...,...,...
1581,712,881,1234,3612,2,2,99.998250
1582,1664,1178,1929,1968,2,2,99.985075
1583,1375,475,726,3869,2,2,99.998502
1584,1910,985,1284,309,1,1,0.000313
1585,831,1482,1490,2573,2,2,99.988663

In [74]:
test['Ano'] = np.random.randint(2019, 2024, size=len(test))

In [75]:
import random

In [76]:
meses = ["Janeiro", "Fevereiro", "Março", "Abril", "Maio", "Junho", "Julho", "Agosto", "Setembro", "Outubro", "Novembro", "Dezembro"]

test['Mes'] = random.choices(meses, k=len(test))

In [77]:
mapa_meses = {
    "Janeiro": 1,
    "Fevereiro": 2,
    "Março": 3,
    "Abril": 4,
    "Maio": 5,
    "Junho": 6,
    "Julho": 7,
    "Agosto": 8,
    "Setembro": 9,
    "Outubro": 10,
    "Novembro": 11,
    "Dezembro": 12
}

# Adicione uma nova coluna 'Mes_Numero' usando o mapeamento
test['Mes_Numero'] = test['Mes'].map(mapa_meses)

In [78]:
test['satisfacao'] = np.random.randint(1, 4, size=len(test))

In [79]:
test['pontuacao'] = (0.19 * test['battery_power']) + (0.17 * test['px_height']) + (0.19 * test['px_width']) + (0.92 * test['ram'])

# Defina o limite de pontuação para determinar a faixa de preço
limite_pontuacao = 3000

# Atribua a faixa de preço com base na lógica
test['pontuacao_geral'] = test['pontuacao'].apply(lambda x: 2 if x > limite_pontuacao else 1)

In [80]:
test

,battery_power,px_height,px_width,ram,price_range,C1_pred,C2_prob,Ano,Mes,Mes_Numero,satisfacao,pontuacao,pontuacao_geral
0,1843,118,580,3213,2,2,99.997765,2019,Setembro,9,1,3436.39,2
1,1424,1399,1663,1053,1,1,0.007206,2019,Abril,4,1,1793.12,1
2,1844,533,882,1724,1,1,1.454190,2022,Julho,7,3,2194.63,1
3,1501,198,1056,2487,2,2,99.778233,2023,Junho,6,2,2807.53,1
4,1976,652,1933,2470,2,2,99.997857,2022,Janeiro,1,3,3125.95,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1581,712,881,1234,3612,2,2,99.998250,2023,Abril,4,3,3842.55,2
1582,1664,1178,1929,1968,2,2,99.985075,2020,Abril,4,2,2693.49,1
1583,1375,475,726,3869,2,2,99.998502,2022,Setembro,9,2,4039.42,2
1584,1910,985,1284,309,1,1,0.000313,2022,Janeiro,1,2,1058.59,1
1585,831,1482,1490,2573,2,2,99.988663,2022,Outubro,10,1,3060.09,2

In [81]:
peso_price_range = 0.4
peso_pontuacao_geral = 0.3
peso_satisfacao_cliente = 0.3

# Crie a coluna do índice de qualidade/preço
test['indice_qualidade_preco'] = (
    test['price_range'] * peso_price_range +
    test['pontuacao_geral'] * peso_pontuacao_geral +
    test['satisfacao'] * peso_satisfacao_cliente
)

limite = 1.5

# Discretize os valores
test['indice_qualidade_preco'] = test['indice_qualidade_preco'].apply(lambda x: 2 if x > limite else 1)

In [82]:
# Adicione a coluna 'legenda_price_range' com base na coluna 'price_range'
test['legenda_price_range'] = test['price_range'].map({1: 'baixo', 2: 'alto'})

In [83]:
test['legenda_satisfacao'] = test['satisfacao'].map({1: 'pouco', 2: 'media', 3: 'alta'})

In [85]:
test['C2_prob'] = test['C2_prob'].astype(int)
test

,battery_power,px_height,px_width,ram,price_range,C1_pred,C2_prob,Ano,Mes,Mes_Numero,satisfacao,pontuacao,pontuacao_geral,indice_qualidade_preco,legenda_price_range,legenda_satisfacao
0,1843,118,580,3213,2,2,99,2019,Setembro,9,1,3436.39,2,2,alto,pouco
1,1424,1399,1663,1053,1,1,0,2019,Abril,4,1,1793.12,1,1,baixo,pouco
2,1844,533,882,1724,1,1,1,2022,Julho,7,3,2194.63,1,2,baixo,alta
3,1501,198,1056,2487,2,2,99,2023,Junho,6,2,2807.53,1,2,alto,media
4,1976,652,1933,2470,2,2,99,2022,Janeiro,1,3,3125.95,2,2,alto,alta
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1581,712,881,1234,3612,2,2,99,2023,Abril,4,3,3842.55,2,2,alto,alta
1582,1664,1178,1929,1968,2,2,99,2020,Abril,4,2,2693.49,1,2,alto,media
1583,1375,475,726,3869,2,2,99,2022,Setembro,9,2,4039.42,2,2,alto,media
1584,1910,985,1284,309,1,1,0,2022,Janeiro,1,2,1058.59,1,1,baixo,media
1585,831,1482,1490,2573,2,2,99,2022,Outubro,10,1,3060.09,2,2,alto,pouco

In [86]:
test.to_csv('projeto7F.csv', index=False)